<template>
  <section class="section">
    <div class="level">
      <h1 class="title">All the Widgets</h1>
    </div>
    <div class="level">
      <ul class="menu-list">
        <li v-for="widget in widgetList"><nuxt-link :to="'/widget/'+widget.uuid">{{widget.name}}</nuxt-link></li>
      </ul>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import api from '~/assets/js/Api';

export default {
  async asyncData({params}) {
    const serverApi = new api();

    let {data} = await serverApi.getWidgets();
    return {widgetList: data};
  }
}
</script>
