<template>
  <div>
    With UUID
  </div>
</template>

<script>
import axios from 'axios'
import api from '~/assets/js/Api';

export default {
  async asyncData({params}) {
    const serverApi = new api();
  }
}
</script>
